/* 入力フィールドのスタイル */
input {
    border-radius: 8px;
    border: 2px solid rgb(96, 97, 98);
    padding: 8px 16px;
    font-size: 14px;
    width: calc(100% - 40px);
    margin-bottom: 8px;
}

/* ボタンのスタイル */
button {
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    margin: 4px;
    font-size: 14px;
}

button:hover {
    background-color: rgb(124, 128, 190);
    color: beige;
    cursor: pointer;
}

/* 入力エリア */
.input-area {
    background-color: rgb(187, 223, 247);
    width: 100%;
    max-width: 400px;
    padding: 16px;
    margin: 16px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* TODOリストの各アイテム */
.todo-area {
    border: 2px solid rgb(68, 175, 189);
    max-width: 400px;
    padding: 16px;
    margin: 16px auto;
    border-radius: 8px;
    background-color: rgb(226, 226, 234);
}

/* タイトルのスタイル */
.title {
    text-align: center;
    margin: 16px 0;
    font-weight: bold;
    font-size: 24px;
}

/* フィルタエリア */
.filter-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    max-width: 400px;
    margin: 0 auto;
}

/* リスト全体 */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* 編集時のエリア */
.editing-area {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    max-width: 400px;
    margin: 0 auto;
}
